@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "./cards.scss";
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("/fonts/ZenKakuGothicAntique-Regular.ttf");
  src: url("/fonts/ZenKakuGothicAntique-Regular.ttf") format("ttf"),
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url('/fonts/Roboto-Regular.ttf');
    }
html,
body {
  display: block !important;
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
}
h1{
  font-family: "Roboto-Regular", sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ol.cm-ol, ul.cm-ol
 {
  list-style: auto;
  margin: 2rem;
  padding: 2rem;
}
ol.cm-ol{
  li{
      padding:1rem;
  }
}

.container {
  padding:40px 10% 100px 10%;
  align-items: flex-start;
}
.cm-container {
  width: 80%;
  margin: 0 auto;
}
